@use "~/variables";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  height: 100vh;
  height: 100dvh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--base-200);
  transition: border-color 0.25s;
  cursor: pointer;
}
button:hover {
  border-color: var(--primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#app {
  width: 100%;
  flex: 1;
}

[data-theme="dark"] {
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--base-100);

  button {
    background-color: var(--base-content);
  }
}

button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}
