:root {
  --primary: #646cff;
  --secondary: #87a5e2;
  --accent: #37cdbe;
  --neutral: #2c2f36;

  --base-100: #ffffff;
  --base-200: #f1f1f1;
  --base-300: #e0e0e0;
  --base-content: #1f2937;

  --info: #2094f3;
  --success: #22c55e;
  --warning: #facc15;
  --error: #ef4444;

  --primary-content: #ffffff;
  --secondary-content: #1f2937;
  --accent-content: #ffffff;
  --neutral-content: #ffffff;
}

:root[data-theme="dark"] {
  --primary: #646cff;
  --secondary: #87a5e2;
  --accent: #37cdbe;
  --neutral: #2c2f36;

  --base-100: #242424;
  --base-200: #2e2e2e;
  --base-300: #383838;
  --base-content: #f5f5f5;

  --info: #2094f3;
  --success: #22c55e;
  --warning: #facc15;
  --error: #ef4444;

  --primary-content: #ffffff;
  --secondary-content: #f5f5f5;
  --accent-content: #ffffff;
  --neutral-content: #ffffff;
}
